{% extends 'city.html' %}}
{% block title %}{{ activity | title }}{% endblock %}
{% block message %}Wondering about fun places to go for the {{activity}}
activity in {{borough}}? Check out this directory of places!{% endblock %}
{% block list %}
<ul>
    {% for venue in venues %}
    <li>
        <a href="{% url 'venue' borough activity venue %} "
            >{{ venue | title }}</a
        >
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% block homelink %}<a href="{% url 'city' %}">← Back to home</a>{% endblock %}
