{% extends 'city.html' %}}

{% block title %}{{ activity | title }}{% endblock %}

{% block description %}Wondering about fun places to go for the {{activity}}
activity in {{borough}}? Check out this directory of places!{% endblock %}

{% block content %}
    {% for venue in venues %}
    <li>
        <a href="{% url 'venue' borough activity venue %} "
            >{{ venue | title }}</a
        >
    </li>
    {% endfor %}
{% endblock %}

{% block homelink %}<a href="{% url 'city' %}">← Back to home</a>{% endblock %}
