<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New York City Guide</title>
    </head>
    <body>
        <h1>{% block title %}New York City Guide{% endblock %}</h1>
        <h4>
            {% block description %}Wondering about fun activities to do in the
            big city? Check out this directory of activities in each borough!{%endblock %}
        </h4>
        <ul>
            {% block content %}
            {% for borough in boroughs %}
            <li>
                <a href="{% url 'borough' borough %}">{{ borough | title }}</a>
            </li>
            {% endfor %}
            {% endblock %}
        </ul>
        {% block homelink %}{% endblock %}
    </body>
</html>
